.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-wrap ($wrap) {
  -webkit-flex-wrap: $wrap;
  
  @if $wrap == nowrap {
    -ms-flex-wrap: none;
  } @else {
    -ms-flex-wrap: $wrap;
  }
  
  flex-wrap: $wrap;
}

@mixin justify-content ($justify) {
  @if $justify == flex-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
  } @else if $justify == flex-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
  } @else if $justify == space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
  } @else if $justify == space-around {
    -ms-flex-pack: distribute;		
  } @else {
    -webkit-box-pack: $justify;
    -ms-flex-pack: $justify;
  }
  
  -webkit-justify-content: @justify;
  -moz-justify-content: @justify;
  -ms-justify-content: @justify;
  justify-content: @justify;
}

@mixin align-items ($align) {
  @if $value == flex-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
  } @else if $value == flex-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
  } @else {
    -webkit-box-align: $value;
    -ms-flex-align: $value;
  }
  
  -webkit-align-items: @align;
  -moz-align-items: @align;
  -ms-align-items: @align;
  align-items: @align;
}
