---
---

@import "variables";
@import "mixins";
@import "normalize";

/*
 * reset
 */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  font-size: $font-size;
  color: $font-color;
}

h1, h2, h3 {
  margin: 0 0 0.5em;
  font-weight: bold;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.1em;
}

p {
  margin: $content-padding 0;
}

ul {
  margin-bottom: 0;
  padding-left: $content-padding * 1.25;
}

a {
  color: $link-color;
  text-decoration: none;
}

hr {
  margin: ($content-padding * 2) $content-padding;
  border: 0;
  border-top: solid 1px $hr-color;
}

/*
 * helpers
 */
.text-muted {
  color: $text-muted-color;
}

/*
 * header
 */
header {
  padding: ($content-padding * 2) 0;
  background-color: $header-bg-color;

  .heading {
    max-width: $max-content-width;
    margin: 0 auto;
    padding: 0 $content-padding;
  }
  
  a {
    display: block;
    margin: 0.3em 0;
  }
  
  .hyphen {
    display: none;
  }
}

@media (min-width: 23em) {
  header {
    a {
      display: inline;
      margin: 0;
    }
    
    .hyphen {
      display: inline;
    }
  }
}

/*
 * main
 */
main {
  max-width: $max-content-width;
  margin: 0 auto;
}

section {
  margin: ($content-padding * 2) $content-padding;
}

/*
 * my work
 */
.my-work-lists {
  @extend .flex;
  @include flex-wrap(wrap);
  @include align-items(flex-start);
  @include justify-content(space-between);
}

.my-work {
  margin-left: 0;
  margin-right: 0;
  
  h2 {
    padding: 0 0.666667em;
  }
}

.my-work-list {
  @extend .flex;
  @include flex-wrap(wrap);
  @include align-items(flex-start);
  @include justify-content(space-between);
  margin: 0;
  padding: 0;
  list-style: none;
  
  li {
    padding: 0 0.25em;
  }

  a {
    display: inline-block;
    width: 11.5em;
    border-radius: $content-padding / 2;
    padding: $content-padding * 0.75;
    
    &:hover {
      background-color: $link-hover-bg-color;
      color: $link-hover-color;
    }
  }
}

@media (min-width: 40em) {
  .my-work-list {
    a {
      width: auto;
    }
  }
}

/*
 * skills and knowledge
 */
.skills-and-knowledge {
  @extend .flex;
  @include flex-direction(column);
  margin: ($content-padding * 2) 0;
  
  section {
    margin: 0 $content-padding;
  }
}

@media (min-width: 34em) {
  .skills-and-knowledge {
    @include flex-direction(row);
    
    hr {
      display: none;
    }
  }
}

/*
 * career
 */
.career-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*
 * footer
 */
footer {
  max-width: $max-content-width;
  margin: ($content-padding * 2) auto;
  padding: 0 $content-padding;
}
