---
---

@import "variables";
@import "mixins";
@import "normalize";

body {
  font-family: $font-stack;
  font-size: $font-size;
  color: $font-color;
}

a {
  color: $link-color;
  text-decoration: none;
}

header {
}

header,
section {
  padding: 1em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.text-muted {
  color: $text-muted-color;
}

.my-work-list {
  @extend .flex;
  @include flex-wrap(wrap);
  @include align-items(flex-start);
  @include justify-content(space-between);

  > li {
    padding: 1em;
  }
}
