---
---

@import "variables";
@import "mixins";
@import "normalize";

body {
  font-family: $font-stack;
  font-size: $font-size;
  color: $font-color;
}

a {
  color: $link-color;
  text-decoration: none;
}

section {
  padding: 1em;
}

.my-work-list {
  @extend .flex;
  @include flex-wrap(wrap);

  > a {
    padding: 1em;
  }
}
