<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{{ site.title | default: site.github.repository_name }} : {{ site.description | default: site.github.project_tagline }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title | default: site.github.repository_name }}</title>

    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>

  <body>
    <header>
      <div class="heading">
        <h1>Jordan Harrison</h1>
        <a href="mailto:jordandh@gmail.com">jordandh@gmail.com</a> - <a href="https://github.com/jordandh">github.com/jordandh</a>
      </div>
    </header>

    <main>
      <section>
        <h2>My Work</h2>
        <ul class="my-work-list">
          <li><a href="https://www.sigalert.com">sigalert.com</a></li>
          <li><a href="https://fictionpad.com">fictionpad.com (2014)</a></li>
          <li><a href="https://itunes.apple.com/us/app/sigalert.com-live-traffic/id424889327?mt=8">Sigalert iOS App</a></li>
          <li><a href="https://itunes.apple.com/us/app/total-traffic/id878148924?mt=8">Total Traffic iOS App</a></li>
        </ul>
      </section>
      
      <hr>
      
      <div class="skills-and-knowledge">
        <section>
          <h2>Skills</h2>
          <ul class="skills-list">
            <li>Web and iOS Development</li>
            <li>Code Architecture, UI Design</li>
            <li>Single Page Web Apps, Responsive Design, Coding Emails, Making Tools</li>
          </ul>
        </section>

        <section>
          <h2>Languages and Tech</h2>
          <ul class="knowledge-list">
            <li>
              Javascript, Swift, Objective-C, Ruby,
              <span class="text-muted">C++, C#, VB.net, VB, Perl, Python</span>
            </li>
            <li>
              HTML 5, CSS, LESS, ES Next
              <span class="text-muted">SASS</span>
            </li>
            <li>AWS, Grunt, Gulp, Git</li>
            <li>
              Classic ASP, Rails,
              <span class="text-muted">ASP.NET 2.0</span>
            </li>
          </ul>
        </section>
      </div>
      
      <hr>
    </main>
    
    <footer>
      {% if site.github.is_project_page %}
      <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
      {% endif %}
      <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
    </footer>
  </body>
</html>
