<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="resume">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jordan Harrison - Resume</title>

    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>

  <body>
    <header>
      <div class="heading">
        <h1>Jordan Harrison</h1>
        <a href="mailto:jordandh@gmail.com">jordandh@gmail.com</a> - <a href="https://github.com/jordandh">github.com/jordandh</a>
      </div>
    </header>

    <main>
      <section>
        <p>
          I'm a software engineer with a Math and Computer Science degree. This has given me a solid CS foundation that has let me easily pick up new languages, technologies, and code patterns. I have ten years experience in web development adn five in iOS development. Before them I worked with C++ adn OpenGL ;on a TV application for airing traffic that is used across the United States.
        </p>
      </section>
      
      <section class="my-work">
        <h2>My Work</h2>
        <ul class="my-work-list">
          <li><a href="https://www.sigalert.com">sigalert.com</a></li>
          <li><a href="https://fictionpad.com">fictionpad.com (2014)</a></li>
          <li><a href="https://itunes.apple.com/us/app/sigalert.com-live-traffic/id424889327?mt=8">Sigalert iOS App</a></li>
          <li><a href="https://itunes.apple.com/us/app/total-traffic/id878148924?mt=8">Total Traffic iOS App</a></li>
        </ul>
<!--         <div class="my-work-lists">
          <ul class="my-work-list">
            <li><a href="https://www.sigalert.com">sigalert.com</a></li>
            <li><a href="https://fictionpad.com">fictionpad.com (2014)</a></li>
          </ul>
          <ul class="my-work-list">
            <li><a href="https://itunes.apple.com/us/app/sigalert.com-live-traffic/id424889327?mt=8">Sigalert iOS App</a></li>
            <li><a href="https://itunes.apple.com/us/app/total-traffic/id878148924?mt=8">Total Traffic iOS App</a></li>
          </ul>
        </div> -->
      </section>
      
      <hr>
      
      <div class="skills-and-knowledge">
        <section>
          <h2>Skills</h2>
          <ul>
            <li>Web and iOS Development</li>
            <li>Code Architecture, UI Design</li>
            <li>Single Page Web Apps, Responsive Design, Coding Emails, Making Tools</li>
          </ul>
        </section>

        <section>
          <h2>Languages and Tech</h2>
          <ul>
            <li>
              Javascript, Swift, Objective-C,
              <span class="text-muted">Ruby, C++, C#, VB.net, VB, Perl, Python</span>
            </li>
            <li>
              HTML 5, CSS, LESS, ES Next,
              <span class="text-muted">SASS</span>
            </li>
            <li>AWS, Grunt, Gulp, Git</li>
            <li>
              Classic ASP, Rails,
              <span class="text-muted">ASP.NET 2.0</span>
            </li>
          </ul>
        </section>
      </div>
      
      <hr>
      
      <section>
        <h2>Career</h2>
        <ul class="career-list">
          <li>
            <h3>Software Engineer - iHeartMedia</h3>
            <p class="text-muted">
              Apr 2011 - Current
            </p>
            <p>
              I design, architect, and write the code for sigalert.com. I also write our two iOS apps and white label iOS app. I create and maintain internal tools.
            </p>
          </li>
          
          <li>
            <h3>Lead Software Engineer - Fiction Pad</h3>
            <p class="text-muted">
              Jan 2012 - Feb 2014 (2 years)
            </p>
            <p>
              Architected and wrote the server and client side code for fictionpad.com.
            </p>
          </li>
          
          <li>
            <h3>Software Engineer - Sigalert</h3>
            <p class="text-muted">
              Aug 2006 - Apr 2011 (4.5 years)
            </p>
            <p>
              Wrote the server and client side code for sigalert.com. Worked on TrafficTV, an application for showing road traffic on tv that is used by news stations across the United States.
            </p>
          </li>
          
          <li>
            <h3>Software Engineer - Fast Enterprises / End Game Interactive / CTL Thompson</h3>
            <p class="text-muted">
              May 2004 - Aug 2006 (2.5 years)
            </p>
            <p>
              During my time at these three jobs I worked on high performance OpenGL applications, windows programs, and web apps with databases on the backend.
            </p>
          </li>
          
          <li>
            <h3>BS in Mathematical and Computer Science - Colorado School of Mines</h3>
          </li>
        </ul>
      </section>
      
      <hr>
    </main>
    
    <footer>
      <p>
        Designed and written by Jordan Harrison. Published with <a href="https://pages.github.com">GitHub Pages</a>
      </p>
    </footer>
  </body>
</html>
